extends layout

block content
  h1 Generate Tiny URL
  
  form(name='tinyURL', method='post')
    div.input
      span.label URL
      input(type="text", name="URL")
      button(type="submit") Shorten
  
  - var URL_json = post
  div
    ul
      //for url in URL_json
        li 
        
        //#{title}    
