extends layout

block content
  h2(align="center" style="font-family:'Roboto', sans-serif") Generate Tiny URL
  
  form(name="tinyURL" method="post" align="center")
    div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
      label(class="mdl-textfield__label" for="URL") Url...
      input(class="mdl-textfield__input" type="text" name='URL')
    div
      button(type="submit" class="mdl-button mdl-js-button mdl-button--raised") Shorten
  
    p #{URL}
