doctype html
html
  head
    title= "tiny url"
    link(rel="stylesheet", href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel="stylesheet", href='https://code.getmdl.io/1.2.1/material.indigo-orange.min.css')
    link(rel="stylesheet", href='/stylesheets/style.css')
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Rubik")
    script(src="https://use.fontawesome.com/ff80a93b3c.js")
    script(defer src="https://code.getmdl.io/1.2.1/material.min.js")
  body
    div(clas="mdl-layout__header mdl-layout__header--waterfall")
        div(class="mdl-layout__header-row" style="background-color:#8C0000")
          span(id="title" class="mdl-layout-title") tiny url
          div(class="mdl-layout-spacer")
          nav(class="mdl-navigation mdl-layout--large-screen-only")
              a(class="mdl-navigation__link" href="#") menu
              a(class="mdl-navigation__link" href="#") generate url
              a(class="mdl-navigation__link" href="#") about
      
    block content