extends layout

block content

    h1 URL List

    table
        tr
            th URL
            th Short URL
            each short_url, i in urllist
                tr
                    th #{short_url.url}
                    th #{short_url.tiny_url}