body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.menuBar{
  padding: 0;
  margin: 0;
  padding-left: 10%;
}
.menuBar li{
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
}
.input{
  padding-right: 15px;
}
